.main {
  width: 95%;
  background-image: url("../../images/Rectangle.png");
  background-image: url("../../images/hero1.png");
  background-position: center;
  background-position-y: bottom;
  margin: auto;
}
